/*common*/
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
h2 {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
h3 {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
p {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover,
button:focus {
  color: #fff;
  background-color: #404bbf;
}

/*header*/
header {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-part {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.header-nav-list a {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #404bbf;
}
.nav-studio:active {
  text-decoration: underline;
}
.address-list {
  font-style: normal;
}

.header-link-point {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
.header-link-point:hover,
.header-link-point:focus {
  color: #404bbf;
}
/*Effective Solutions*/
.first-section {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/*featur*/
.featur {
}
.featur-title {
}
.strategy-title-list {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.strategy-text-list {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*team*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list-point {
  background-color: #ffffff;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*portfolio*/
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
footer {
  background-color: #2e2f42;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-fotter-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
